.link {
  padding: 14px 32px;
  background-color: #2c3878;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #fff;
  transition: background 0.2s ease-in-out;

  &:hover {
    background-color: black;
  }
}
