.link {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 0;
    background-color: #333;
    height: 0.125rem;
    left: 50%;
    bottom: 0;
    translate: -50% 0;
    transition: width 0.2s ease;
  }
  &:hover {
    &::before {
      width: 100%;
    }
  }
}
.active {
  font-weight: 600;
}
