.header {
  padding-top: 40px;
  padding-bottom: 2px;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .links {
    display: flex;
    gap: 74px;

    a {
      text-decoration: none;
    }
  }
}
